{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="login-form qa-primary-login-form sheet--padding">
      <div class="header">
        
  
        <div class="header__text-group text-center">
          
          <p class="header__subheading"><img src="{% static 'site/icon.png' %}" width="150" height="150"></p> 
          <h1 class="header__heading">{% if user.first_name %} {{ user.first_name }} {{ user.last_name }} {% else %} {{ user.email }} {% endif%}</h1>
        </div> <!-- close .text-group -->
      </div> <!-- close .header -->
  
      <div class="row">
        <div class="col-sm-8 col-md-6 center-block">

        </div> <!-- close .col -->
      </div> <!-- close .row -->
      <div class="form-group">
        <button class="btn btn-default btn-block-level" style="background-color: #8DC7B8;position: absolute;
        right:    0;
        bottom:   0;" tabindex="3" onclick="history.back()">
            Back
          </button>
      
    </div> <!-- close .form-group -->
    </div> <!-- close .login-form -->
  </div> <!-- close .container -->
  
{% endblock %}
