{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="auth">
  <!-- form -->
  <form action="{% url 'account_change_password' %}" method="POST" class="auth-form auth-form-reflow">{% csrf_token %}
    <div class="text-center mb-4">
      <div class="mb-4">
        <img class="rounded" src="{% static 'csi.png' %}" alt="" height="72">
      </div>
      <h1 class="h3"> Change Your Password </h1>
    </div>
    <p class="mb-4" hidden="hidden"> Tempora iusto officia magnam fugiat sequi aliquam cum consectetur aperiam beatae, rerum obcaecati ea. </p><!-- .form-group -->
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="text-muted text-center mb-5">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <form  method="POST" id="signup_form" action="{{ action_url }}">{% csrf_token %}

                <div class="form-group">

                    <input class="form-control form-control-lg" autofocus="autofocus" autocomplete="off" tabindex="2" type="password" name="password1"
                      placeholder="New Password" style="border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 1px solid black;" />
                  </div> <!-- close .form-group -->


                    <div class="form-group">

        <input class="form-control form-control-lg" autofocus="autofocus" autocomplete="off" tabindex="2" type="password" name="password2"
          placeholder="Confirm New Password" style="border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;" />
      </div> <!-- close .form-group -->


      <div class="form-group">
          <button class="btn btn-default btn-block-level" style="background-color: #8DC7B8" tabindex="3">
            Change Password
          </button>


        </div> <!-- close .form-group -->



                  </form>
        </form>
        {% else %}
        <p class="text-muted text-center mb-5">Your password is now changed.</p>
        {% endif %}
    {% endif %}
    <div class="d-block d-md-inline-block">
      <a href="{% url 'user' %}" class="btn btn-block btn-light">Return to Dashboard</a>
    </div>
    
  </form><!-- /.auth-form -->
  <footer class="auth-footer mt-5"> © 2020 All Rights Reserved. Crestsource Infosolution. <a href="#">Privacy</a> and <a href="#">Terms</a>
  </footer>
</main><!-- /.auth -->
{% endblock %}
