{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="auth">
  <!-- form -->
  <form action="{% url 'account_change_password' %}" method="POST" class="auth-form auth-form-reflow">{% csrf_token %}
    <div class="text-center mb-4">
      <div class="mb-4">
        <img class="rounded" src="{% static 'csi.png' %}" alt="" height="72">
      </div>
      <h1 class="h3"> Change Your Password </h1>
    </div>
    <p class="mb-4" hidden="hidden"> Tempora iusto officia magnam fugiat sequi aliquam cum consectetur aperiam beatae, rerum obcaecati ea. </p><!-- .form-group -->
    <div class="form-group mb-4">
      <label class="d-block text-left" for="inputUser">Old Password</label> <input type="password" name="oldpassword" class="form-control form-control-lg" required="" autofocus="">
      <label class="d-block text-left" for="inputUser">New Password</label> <input type="password" name="password1" class="form-control form-control-lg" required="" autofocus="">
      <label class="d-block text-left" for="inputUser">Confirm New Password</label> <input type="password" name="password2" class="form-control form-control-lg" required="" autofocus="">
      
    </div><!-- /.form-group -->
    <!-- actions -->
    <div class="d-block d-md-inline-block mb-2">
      <button class="btn btn-lg btn-block btn-primary" type="submit">Change Password</button>
    </div>
    <div class="d-block d-md-inline-block">
      <a href="{% url 'user' %}" class="btn btn-block btn-light">Return to Dashboard</a>
    </div>
    
  </form><!-- /.auth-form -->
  <footer class="auth-footer mt-5"> © 2020 All Rights Reserved. Crestsource Infosolution. <a href="#">Privacy</a> and <a href="#">Terms</a>
  </footer>
</main><!-- /.auth -->
{% endblock %}
