{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="auth">
  <!-- form -->
  <form action="{% url 'account_change_password' %}" method="POST" class="auth-form auth-form-reflow">{% csrf_token %}
    <div class="text-center mb-4">
      <div class="mb-4">
        <img class="rounded" src="{% static 'csi.png' %}" alt="" height="72">
      </div>
      <h1 class="h3"> Password Reset Done </h1>
    </div>
    <p class="mb-4"> We have sent you an e-mail. Please contact us if you do not receive it within a few minutes. </p><!-- .form-group -->
    
    <!-- actions -->
    
    <div class="d-block d-md-inline-block">
      <a href="{% url 'user' %}" class="btn btn-block btn-light">Return to Dashboard</a>
    </div>
    
  </form><!-- /.auth-form -->
  <footer class="auth-footer mt-5"> © 2020 All Rights Reserved. Crestsource Infosolution. <a href="#">Privacy</a> and <a href="#">Terms</a>
  </footer>
</main><!-- /.auth -->
{% endblock %}
