{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<div class="container">
    <div class="login-form qa-primary-login-form sheet--padding">
      <div class="header">
  
  
        <div class="header__text-group text-center">
  
          <p class="header__subheading"><img src="{% static 'site/icon.png' %}" width="150" height="150"></p>
          <h1 class="header__heading">Password Change </h1>
          <p>Set strong password.</p>
        </div> <!-- close .text-group -->
      </div> <!-- close .header -->
  
      <div class="row">
          <div class="form-separator">
              
            </div>
  
  
  
            <form  method="POST" id="signup_form" action="{% url 'account_set_password' %}">{% csrf_token %}
  
  
  
         
  
          <div class="form-group">
  
            <input class="form-control" autocomplete="off" tabindex="2" type="password" name="password1"
              placeholder="New Password" style="border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid black;" />
          </div> <!-- close .form-group -->
  
          <div class="form-group">
  
            <input class="form-control" autocomplete="off" tabindex="2" type="password" name="password2"
              placeholder="Confirm New Password" style="border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid black;" />
          </div> <!-- close .form-group -->
  
  
          <div class="form-group">
            <button class="btn btn-default btn-block-level" style="background-color: #8DC7B8" tabindex="3">
              Change Password
            </button>
  
  
          </div> <!-- close .form-group -->
        </form>
      
  
      </div> <!-- close .col -->
    </div> <!-- close .row -->
  </div> <!-- close .login-form -->



{% endblock %}
