{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% url 'account_email' as email_url %}        
{% block content %}
<div class="container">
    <div class="login-form qa-primary-login-form sheet--padding">
      <div class="header">
        
  
        <div class="header__text-group text-center">
          
          <p class="header__subheading"><img src="{% static 'site/icon.png' %}" width="150" height="150"></p>
          <h1 class="header__heading">Email Verification Required</h1>
          <p class="text-muted text-center mb-5">
              This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address.
        </p>

        <p class="text-muted text-center mb-5">
              We have sent an e-mail to you for
              verification. Please click on the link inside this e-mail. Please
              contact us if you do not receive it within a few minutes.
        </p>
        </div> <!-- close .text-group -->
      </div> <!-- close .header -->
  
      <div class="row">
        <div class="col-sm-8 col-md-6 center-block">
           
  
  <div class="form-separator">
    
  </div>
  
  
    
    <div class="form-group">
        <a href="{{ email_url }}"><button class="btn btn-default btn-block-level" style="background-color: #8DC7B8" tabindex="3">
            Back to login
          </button></a>

          <!-- Link -->
          <div class="text-center">
              <small class="text-muted text-center">
                    Please contact us if you have any trouble in account confirmation.
              </small>
            </div>
          
      
    </div> <!-- close .form-group -->
  

  
        </div> <!-- close .col -->
      </div> <!-- close .row -->
    </div> <!-- close .login-form -->
  </div> <!-- close .container -->
    {% endblock %}
