{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% block content %}
<div class="container">
    <div class="login-form qa-primary-login-form sheet--padding">
     
      <div class="row">
        <div class="col-sm-8 col-md-6 center-block">
           
  
  
  <form class="js-validate mt-5" method='POST' action="{% url 'account_reset_password' %}">{% csrf_token %}
      <!-- Title -->
      <div class="mb-7">
        <h1 class="h3 text-primary font-weight-normal mb-0">Email Sent by <span class="font-weight-semi-bold">CrestSource Infosolutions</span></h1>
        
        <p style="border:solid">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      </div>
      <!-- End Title -->
      
      {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!

You're receiving this e-mail because you or someone else has requested a password for your user account.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}

{{ password_reset_url }}

{% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}

{% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!
{{ site_domain }}{% endblocktrans %}
     
      <!-- Button -->
      <div class="row align-items-center mb-5">
        <div class="col-5 col-sm-6">
          <span class="small text-muted">Please contact us if you have any trouble resetting your password.</span>
          <a class="small" href="{{ signup_url }}">Signup</a>
        </div>
      </div>
      <!-- End Button -->
    </form>
  
        </div> <!-- close .col -->
      </div> <!-- close .row -->
    </div> <!-- close .login-form -->
  </div> <!-- close .container -->
  

        
    {% endblock %}



